.firstContent {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    top: 400px;

    .firstContent_text {
        color: #fff;
        font-size: 30px;
    }

    .firstContent_text:nth-child(1) {
        font-size: 80px;
    }
}

@media screen and (max-width: 700px) {
    .firstContent {
        position: absolute;
        left: auto;
        margin-left: 0px;
        width: 100%;
        top: 100px;

        .firstContent_text {
            color: #fff;
            text-align: center;
            font-size: 14px;
        }

        .firstContent_text:nth-child(1) {
            font-size: 48px;
        }
    }
}