$file-prefix: 'home-fiveContent';

.#{$file-prefix}-title {
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;

    .#{$file-prefix}-word1 {
        text-decoration: line-through;
        color: #bbb;
        font-size: 20px;
    }

    .#{$file-prefix}-word2 {
        color: #f00;
    }
}

.#{$file-prefix}-point {
    display: block;
    margin: 0 auto;
    padding: 10px 0px 80px 0px;
}

.#{$file-prefix}-cards-layout {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .#{$file-prefix}-cards-layout {
        width: 100%;
        margin: 0 auto;
        display: block;
        background-color: #eee;
        justify-content: normal;
        padding-bottom: 20px;
    }
}