.imageShow {
    $imgWidth: 1200px;

    width: $imgWidth;
    position: absolute;
    height: 500px;
    float: left;
    transition-duration: .8s;

    .imageShow_img {
        width: $imgWidth;
        height: 600px;
    }
}
@media screen and (max-width: 700px) {
    .imageShow {
        $imgWidth: 100%;
    
        width: $imgWidth;
        position: absolute;
        height: 200px;
        float: left;
        transition-duration: .8s;
    
        .imageShow_img {
            width: $imgWidth;
            height: 300px;
        }
    }
}