.imageShow {
    $imgWidth: 1200px;

    width: $imgWidth;
    position: absolute;
    height: 500px;
    float: left;
    transition-duration: .8s;

    .imageShow_img {
        width: $imgWidth;
        height: 600px;
    }
}