$file-prefix: 'home-relationCard';

.#{$file-prefix}-main {
    width: 350px;
    background-color: #fff;
    position: relative;
    transition-duration: .8s;

    .#{$file-prefix}-icon-layout {
        left: 50%;
        margin-left: -10px;
        position: relative;
        width: 20px;

        .#{$file-prefix}-icon {
            font-size: 20px;
            padding-top: 30px;
            padding-bottom: 20px;
        }
    }

    .#{$file-prefix}-title {
        text-align: center;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .#{$file-prefix}-line {
        position: relative;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 5px;
        background-color: #000;
        margin-bottom: 30px;
    }
    
    .#{$file-prefix}-decoration-layout {
        padding-bottom: 40px;
        color: #8c9398;
        font-weight: 700;
        font-size: 15px;

        .#{$file-prefix}-decoration {
            text-align: center;
        }
    }
    .#{$file-prefix}-bottom-line {
        width: 350px;
        height: 5px;
        transition-duration: .8s;
    }
}