

.secondContent {
    padding-top: 100px;

    .title-one {
        text-align: center;
        font-size: 40px;
        letter-spacing: 5px;
    }

    .title-two {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }

    .description {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 100px;
    }

    .point {
        display: block;
        margin: 0 auto;
    }

    .apply-layout {
        display: flex;
        justify-content: space-around;
        width: 1200px;
        position: relative;
        left: 50%;
        margin-left: -600px;
        .apply-icon-layout {
            width: 220px;
            height: 220px;
            padding: 10px;
            border-radius: 50%;
            background-color: #eee;

            .apply-icon {
                position: relative;
                left: 50%;
                margin-left: -40px;
                top: 50%;
                margin-top: -80px;
                display: inline-block;
                font-size: 80px;
                color: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, .5), 2px 2px rgba(228, 220, 220, 0.51), 3px 3px rgba(6, 6, 6, .52), 4px 4px rgba(8, 8, 8, .53), 5px 5px hsla(0, 0%, 4%, .54), 6px 6px hsla(0, 0%, 5%, .55), 7px 7px hsla(0, 0%, 6%, .56), 8px 8px hsla(0, 0%, 7%, .57), 9px 9px hsla(0, 0%, 7%, .58), 10px 10px hsla(0, 0%, 8%, .59), 11px 11px hsla(0, 0%, 9%, .6), 12px 12px hsla(0, 0%, 9%, .61), 13px 13px rgba(25, 25, 25, .62), 14px 14px rgba(26, 26, 26, .63), 15px 15px rgba(27, 27, 27, .64), 16px 16px rgba(29, 29, 29, .65), 17px 17px rgba(30, 30, 30, .66), 18px 18px rgba(31, 31, 31, .67), 19px 19px rgba(32, 32, 32, .68), 20px 20px rgba(33, 33, 33, .69), 21px 21px rgba(34, 34, 34, .7), 22px 22px rgba(35, 35, 35, .71), 23px 23px rgba(36, 36, 36, .72), 24px 24px rgba(37, 37, 37, .73), 25px 25px rgba(37, 37, 37, .74), 26px 26px rgba(38, 38, 38, .75), 27px 27px rgba(39, 39, 39, .76), 28px 28px rgba(40, 40, 40, .77), 29px 29px rgba(40, 40, 40, .78), 30px 30px rgba(41, 41, 41, .79);
            }
        }
    }
}

// @media screen and (max-width: 700px) {
//     .secondContent_title {
//         color: #ccc;
//         text-align: center;
//         font-size: 36px;
//         position: relative;
//         transition-duration: 1s;
//     }

//     .secondContent_titleLabel {
//         color: #fff;
//         text-align: center;
//         font-size: 20px;
//         margin-bottom: 0px;
//         position: relative;
//     }

//     .secondContent_cardPiece {
//         display: block;
//         width: 100%;
//         margin: 0 auto;
//         justify-content: normal;
//     }
// }