.select-layout {
    display: flex;
    justify-content: center;
    margin: 20px 0px 40px 0px;

    .select-point {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid #aaa;
        transition-duration: .2s;
        cursor: pointer;
        margin-right: 20px;

        &:hover {
            background-color: #000;
        }
    }

    .select-point:last-child {
        margin-right: 0px;
    }

    .select-point-active {
        background-color: #000;
    }
}

.seeker {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 200px 0px;

    .iphone {
        background-color: #eee;
        width: 50%;
        overflow: hidden;
        height: 450px;

        .iphone-img {
            transition-duration: 2s;
            background: url('../../../images/iphone-bg2.jpg') no-repeat center center;
            background-position: 80px -50px;
            height: 100%;
            position: relative;
            top: -10px;
            opacity: 0;
        }

        .iphone-img-show {
            transform: translateY(10px);
            opacity: 1;
        }
    }

    .main {
        width: 50%;
        height: 450px;
        overflow: hidden;
        position: relative;

        .turn-layout {
            display: flex;
            justify-content: space-between;

            .spin-item {
                text-align: center;
                transition-duration: 1s;
                opacity: 0;

                .title {
                    margin-top: 100px;
                    font-weight: bold;
                    font-size: 26px;
                    letter-spacing: 2px;
                }

                .description {
                    margin-top: 20px;
                    font-weight: bold;
                    color: #aaa;
                }
            }

            .spin-item-left-center {
                transform: translate(236px);
                opacity: 1;
            }

            .spin-item-right-center {
                transform: translate(-236px);
                opacity: 1;
            }
        }
    }
}