.tableShow {
    width: 1200px;
    height: 600px;
    border-radius: 10;

    .tableShow_piece {
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(26, 26, 26, 0.1) 0px 9px 7px;

        .tableShow_sider {
            height: 550px;
            width: 150px;
            overflow-y: hidden;
            overflow-x: hidden;

            &:hover {
                overflow-y: scroll;
            }
        }
    }
}