.threeContent {
    padding-top: 50px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 900px;

    .threeContent_title {
        text-align: center;
        font-size: 40px;
    }

    .threeContent_titleLabel {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        color: grey;
        margin-bottom: 40px;
    }

    .threeContent_imgShow {
        width: 1200px;
        position: relative;
        left: 50%;
        margin-left: -600px;
        height: 600px;
        overflow: hidden;
    }

    .threeContent_shadow {
        position: absolute;
        height: 80px;
        top: 50%;
        margin-top: -40px;
        width: 50px;
        z-index: 100;
    }

    .threeContent_arrow {
        font-size: 50px;
        margin-top: -25px;
        z-index: 101;
        position: absolute;
        top: 50%;
    }
}

@media screen and (max-width: 500px) {
    .threeContent {
        width: 100%;

        .threeContent_imgShow {
            width: 1000px;
            margin-left: -500px;
        }
    }
}