$file-prefix: 'blog-header';

.#{$file-prefix}-header-layout {
    background-color: #fff;
    box-shadow: 0px 4px 5px #ddd;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 99;
}

.blogNav {
    width: 1200px;
    margin: 0px auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    .#{$file-prefix}-nav {
        display: flex;

        .#{$file-prefix}-logo-layout {
            cursor: pointer;
            position: relative;
        }

        .blogRedLine {
            background-color: #ff0000;
            width: 40px;
            height: 2px;
            position: relative;
            transition-duration: 0.6s;
        }

        .#{$file-prefix}-show-search {
            position: relative;
            left: -300px;
            left: 0px;
            width: 358px;
            display: inline-block;
            background-color: #fff;
            border-radius: 0 0 3px 3px;
            box-shadow: 0px 3px 5px 0px #bbb;

            .#{$file-prefix}-search-item {
                text-align: center;
                font-size: 18px;
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid #ccc;
                padding: 0 10px;

                &:hover {
                    background-color: #0066FF;
                    color: #fff;
                    cursor: pointer;
                }
            }

            .#{$file-prefix}-search-item:nth-last-child() {
                border-bottom: none;
            }
        }

        .blogInputSearch {
            display: inline-block;
            width: 300px;
            padding: 10px 0 10px 15px;
            font-weight: 400;
            color: #377D6A;
            border: 0px;
            border-radius: 3px;
            outline: 0;
            text-indent: 0px;
            transition: all .3s ease-in-out;
            margin-top: 10px;
            position: relative;
        }

        .blogSearchIcon {
            position: absolute;
            top: 20px;
            font-size: 20px;
            cursor: pointer;
            transition-duration: .3s;
        }

        .blogSearchLabel {
            display: inline-block;
            position: relative;
            left: -300px;
            padding: 10px 15px;
            text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
            background-color: #00CCFF;
            transition: all .3s ease-in-out;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            color: #fff;
            font-weight: bold;
        }

        .blogNavItem {
            color: #000;
            font-size: 20px;
            line-height: 60px;
            margin-right: 40px;
            text-decoration: none;
        }

        .blogNavItem:nth-of-type(3) {
            margin-right: 0px;
        }

        .blogNavItem:hover {
            color: red;
        }
    }

    .blogButton {
        margin-top: 4.5px;
        color: #fff;
        width: 170px;
        height: 50px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        cursor: pointer;
        z-index: 1;
        padding: 15px 30px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 16px 47px -15px #590b9b;
        background: none;
        -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        border-radius: 8px;
        overflow: hidden;
        outline: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);

        span {
            position: relative;
            z-index: 2;
        }

        &:before,
        &:after {
            border-radius: 8px;
            content: '';
            z-index: -1;
            background: -webkit-linear-gradient(350deg, #560a9b, #9e158f);
            background: linear-gradient(100deg, #560a9b, #9e158f);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:after {
            background: -webkit-linear-gradient(350deg, #003f77, #05c4b5);
            background: linear-gradient(100deg, #003f77, #05c4b5);
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: top;
            transform-origin: top;
            -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
        }

        &:hover {
            box-shadow: 0px 16px 47px -15px #003f77;
        }

        &:hover:after {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: bottom;
            transform-origin: bottom;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }

        &:active {
            -webkit-transform: translateY(4px) translateZ(0);
            transform: translateY(4px) translateZ(0);
            box-shadow: 0px 8px 10px -6px #003f77;
        }
    }
}

@media screen and (max-width: 700px) {
    .blogNav {
        width: 100%;
        padding-right: 10px;

        .#{$file-prefix}-menu-layout {
            position: absolute;
            top: 60px;
            transform: scaleY(1);
            transition-duration: .2s;
            transform-origin: top;
            width: 100vw;

            .#{$file-prefix}-menu-item {
                display: flex;
                justify-content: flex-start;
                height: 40px;
                width: 100%;
                background-color: #fff;
                padding: 0px 30px;

                .#{$file-prefix}-menu-icon {
                    line-height: 40px;
                    margin-right: 20px;
                }

                .#{$file-prefix}-menu-title {
                    line-height: 40px;
                }
            }

            .#{$file-prefix}-menu-item-active {
                background-color: #eee;
            }
        }

        .#{$file-prefix}-menu-layout-hidden {
            transform: scaleY(0);
        }

        .#{$file-prefix}-title-layout {
            display: flex;
            justify-content: flex-start;

            .#{$file-prefix}-title {
                color: #0099FF;
                line-height: 58px;
                margin-right: 20px;
                font-size: 20px;
            }

            .#{$file-prefix}-arrow {
                color: #0099FF;
                line-height: 60px;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;
                }
            }

            .#{$file-prefix}-arrow-hidden {
                opacity: 0;
            }
        }

        .blogButton {
            width: 144px;
        }
    }
}