#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.layoutContent {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1200px;

    .layoutContent_show {
        width: 900px;
    }
}

@media screen and (max-width: 700px) {
    .layoutContent {
        width: 100%;

        .layoutContent_show {
            width: 100%;
        }
    }
}