$file-prefix: 'page-blog';

.#{$file-prefix}-layout {
    position: relative;
    z-index: 99;

    .#{$file-prefix}-main {
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .#{$file-prefix}-main {
        margin-left: 50px;
    }
}