@import 'app/styles/comon/common.scss';

.homePage_firstContent {
    height: 901px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    .homePage_firstContent {
        height: 400px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-size: cover;
    }
}