.element {
    top: 55%;
    margin-top: -300px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    // transform: translate(-50%, -50%);

    .front,
    .back {
        position: absolute;
        backface-visibility: hidden;
        transition: 0.3s linear;
    }
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(-180deg);
}

.middle-flip {
    .front {
        transform: rotateY(180deg);
    }

    .back {
        transform: rotateY(0deg);
    }
}

$file-prefix: 'page-login-mobile';

.#{$file-prefix}-layout {

    .#{$file-prefix}-header {
        height: 80px;
        background-color: #383D41;
        position: relative;

        .#{$file-prefix}-logo {
            width: 6rem;
            height: 40px;
            position: absolute;
            left: 10px;
            margin-top: 20px;
        }

        .#{$file-prefix}-title {
            color: #fff;
            text-align: center;
            line-height: 80px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}