$file-prefix: 'my-myInfoSubItem';

.#{$file-prefix}-layout {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;

    .#{$file-prefix}-label {
        font-size: 20px;
        display: inline-block;
        height: 100%;
        min-width: 100px;
        font-weight: 600;
        text-align: justify;
        text-align-last: justify;
    }

    .#{$file-prefix}-value {
        font-size: 16px;
        width: 140px;
        text-align: center;

        &:hover+.#{$file-prefix}-alter {
            opacity: 1;
        }
    }

    .#{$file-prefix}-alter {
        position: absolute;
        right: -80px;
        width: 50px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        color: #175199;
        opacity: 0;
        transition-duration: .3s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        .#{$file-prefix}-icon {
            margin-top: 8px;
        }
    }

    .#{$file-prefix}-operation {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}