$file-prefix: 'my-myInfoMessageContent';

.#{$file-prefix}-layout {
    background-color: #fff;
    box-shadow: 1px 1px 21px #ccc;
    border-radius: 10px;
    padding: 0px 20px;
    margin-bottom: 40px;

    .#{$file-prefix}-piece {
        height: 80px;
        width: 780px;
        padding-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;

        .#{$file-prefix}-readIcon {
            position: absolute;
            top: 0;
            color: #f00;
            left: 0;
            font-size: 16px;
        }

        .#{$file-prefix}-avatar {
            border-radius: 50%;
            margin-right: 10px;
            width: 60px;
            height: 60px;
        }

        .#{$file-prefix}-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .#{$file-prefix}-headerInfo {
                width: 700px;
                height: 40px;
                display: flex;
                justify-content: space-between;

                .#{$file-prefix}-user-info-layout {
                    display: flex;
                    justify-content: start;

                    .#{$file-prefix}-formUser {
                        font-weight: bold;
                        font-size: 20px;
                    }

                    .#{$file-prefix}-label {
                        background-color: orange;
                        color: white;
                        height: 20px;
                        line-height: 20px;
                        margin-top: 6px;
                        margin-left: 10px;
                        border-radius: 5px;
                        padding: 0 3px;
                        font-size: 12px;
                    }
                }

                .#{$file-prefix}-operation {
                    display: flex;
                    justify-content: space-between;
                    height: 20px;
                    width: 130px;
                    position: relative;

                    .#{$file-prefix}-menuIcon {
                        margin-top: 3px;
                        height: 14px;
                    }

                    .#{$file-prefix}-menuContent {
                        width: 120px;
                        position: absolute;
                        right: -130px;
                        z-index: 101;
                        background-color: #fff;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
                        border-radius: 5;

                        .#{$file-prefix}-menuItem {
                            text-align: center;
                            height: 40px;
                            line-height: 40px;
                            cursor: pointer;
                            background-color: #fff;

                            &:hover {
                                background-color: #ddd;
                            }
                        }

                        .#{$file-prefix}-menuItem:nth-child(1) {
                            margin-top: 5px;
                        }

                        .#{$file-prefix}-menuItem:nth-child(2) {
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .#{$file-prefix}-myMessageContent {
                color: #bbb;
            }
        }
    }
}