$file-prefix: 'blog-commentShow';

.#{$file-prefix}-layout {
    width: 300px;
    height: 600px;
    position: fixed;
    top: 60%;
    margin-top: -300px;
    left: 50%;
    margin-left: -150px;
    z-index: 200;

    .#{$file-prefix}-main {
        background-color: #fff;
        width: 300px;
        height: 450px;
        border-radius: 20px;
        position: relative;

        .#{$file-prefix}-close-layout {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

            .#{$file-prefix}-close-icon {
                font-size: 20px;
            }
        }

        .#{$file-prefix}-avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-left: 50px;
            border: 2px solid #f00;
            position: absolute;
            top: -100px;
        }

        .#{$file-prefix}-realName {
            padding-top: 110;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            padding-top: 100px;
        }

        .#{$file-prefix}-year {
            text-align: center;
            font-size: 20px;
            color: #ccc;
        }

        .#{$file-prefix}-motto {
            text-align: center;
            font-size: 18px;
            padding-top: 50px;
        }
    }
}