$file-prefix: 'back-questionList';

.#{$file-prefix}-layout {
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;

    .#{$file-prefix}-loading-layout {
        width: 1200px;
        height: 600px;
    }

    .#{$file-prefix}-question-item {
        width: 100%;
        height: 300px;
        background-color: #fff;
        position: relative;
        box-shadow: 0px 0px 8px 2px #bbb;
        margin: 10px 0px;
        border-radius: 5px;
        padding: 20px 20px;

        .#{$file-prefix}-header-layout {
            display: flex;
            justify-content: space-between;
            height: 70px;
            margin-bottom: 20px;

            .#{$file-prefix}-num {
                color: blue;
                font-size: 20px;
                font-weight: 500;
                line-height: 70px;
            }

            .#{$file-prefix}-info {
                .#{$file-prefix}-title {
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .#{$file-prefix}-author {
                    font-size: 20px;
                    color: #bbb;
                    text-align: center;
                }
            }

            .#{$file-prefix}-btn-layout {
                display: flex;
                justify-content: space-around;

                .#{$file-prefix}-icon {
                    font-size: 24px;
                    cursor: pointer;
                    color: blue;
                    margin-right: 20px;
                    line-height: 70px;
                }
            }
        }

        .#{$file-prefix}-decoration {
            text-indent: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            padding: 0 10px;
        }

        .#{$file-prefix}-time {
            color: #ccc;
            text-align: center;
            position: absolute;
            bottom: 10px;
            margin: 0px;
            width: 100%;
        }
    }

    .#{$file-prefix}-page-btn-layout {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}